In [1]:
import pandas as pd
import numpy as np

# Pull 100 random seeded user data
dataset = pd.read_csv("data_v2.csv")
dataset.head()

,name,webdev,ai,robotics,nlp,bot,fintech,music,iot,biomedical,education,environment,fitness,vr,blockchain,gaming,hardware,research
0,Emma,0,0,1,0,1,0,0,1,0,0,0,1,1,1,0,1,0
1,Noah,0,1,1,1,1,0,0,0,1,0,1,1,0,1,0,1,0
2,William,0,1,1,1,1,0,1,1,1,0,1,0,0,1,1,0,1
3,James,1,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0
4,Oliver,0,1,1,0,0,1,1,0,0,0,1,1,0,0,0,0,0

In [2]:
# Each row represents a student with boolean vals representing which interest they have (1) or not (0)
dataset.iloc[0]

name           Emma
webdev            0
ai                0
robotics          1
nlp               0
bot               1
fintech           0
music             0
iot               1
biomedical        0
education         0
environment       0
fitness           1
vr                1
blockchain        1
gaming            0
hardware          1
research          0
Name: 0, dtype: object

In [3]:
emma_np = dataset.iloc[0].to_numpy().copy()[1:,] # We need to convert the DataFrame to a numpy arr and also get a feature vec

In [8]:
# Determine total num of interests Emma does have
totalInterests = len(emma_np[emma_np == 1])
totalInterests

Wall time: 0 ns

7

In [38]:
%%time
# Running through around 300 users we get a similarity score between their interest and our target user's in this
# case: Emma. From 0 - 100, higher score means greater similarity.
def getScore(userTuple):
    return userTuple[1]

match = []
score_list = []
for index, row in dataset.iterrows():
    interest_vec = row.to_numpy()[1:,]
    sim_score = np.dot(emma_np, interest_vec) / totalInterests * 100
    score_list.append((row['name'], sim_score))
    if sim_score == 100.0:
        match.append(index)
#     print(row['name'], ': ', sim_score)

score_list.sort(key=getScore, reverse=True)
recommendation_result = score_list[0:11] # Top 10 most similar students + Emma herself

Wall time: 39 ms

In [39]:
# The following are students who matched most with Emma's interests (including Emma obviously)
recommendation_result

[('Emma', 100.0),
 ('Jude', 100.0),
 ('Maximiliano', 100.0),
 ('Daxton', 100.0),
 ('Grace', 85.71428571428571),
 ('Juan', 85.71428571428571),
 ('Bryce', 85.71428571428571),
 ('Andres', 85.71428571428571),
 ('Karson', 85.71428571428571),
 ('Noah', 71.42857142857143),
 ('Daniel', 71.42857142857143)]

In [45]:
for i in range(5)
dataset.loc[(dataset['name'] == 'Jude') | (dataset['name'] == 'Karson')]

,name,webdev,ai,robotics,nlp,bot,fintech,music,iot,biomedical,education,environment,fitness,vr,blockchain,gaming,hardware,research
148,Jude,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0
256,Karson,0,1,1,0,1,0,1,1,0,1,1,0,1,1,0,1,1